NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/academic-control-system?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkeythatshouldbemorecomplex
JWT_EXPIRE=1h
REDIS_URL=redis://localhost:6379
CLIENT_URL=http://localhost:5173

# ??$$$ Gemini API Key Cycle Setup
GEMINI_API_KEY_1=AIzaSyARj4du77gbM3ta7xQZuTREgAGOTqju1nM
GEMINI_API_KEY_2=AIzaSyB9NqxDuDvM1UN4GoV63RYKsBFy0pyIltw
GEMINI_API_KEY_3=AIzaSyCqCqTzVshKPflWDhrQhR0cjVdRTwz8do8

